<nav id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          <a href="/">Logo</a>
        </h1>
        <a href="/login">Log In</a>
        <a href="/favorites">Favorites</a>
      </div>

      <div class="col-sm-6">
        <form action="#" method="POST">
          <select name="searchBy" id="searchBy">
            <option value="movieTitle">Movie Title</option>
            <option value="actor">Actor</option>
          </select>
          <input type="text" name="searchWord" placeholder="Search" />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
