<nav>
  <h1>Nav menu</h1>
  <ul>
    <li>
      <a href='#'>
        nav bar
      </a>
    </li>
    <li>
      <a href='#'>
        nav bar
      </a>
    </li>
    <li>
      <a href='#'>
        nav bar
      </a>
    </li>
  </ul>
</nav>